
@{
    ViewBag.Title = "Farm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    thead tr {
        font-weight: bold;
    }
</style>

@if (TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b> @TempData["SuccessMsg"]</b>
    </div>
}
@if (TempData["DeleteMsg"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b> @TempData["DeleteMsg"]</b>
    </div>
}
<!-- .row -->
<div class="row">
    <div class="col-lg-12">
        <div class="white-box">

            <table id="farm" class="table table-bordered">
                <thead class="bg-info" style="color:white">
                    <tr>
                        <td width="100">Farm Code</td>
                        <td>Farm Name  <strong> <a class="pull-right" data-toggle="modal" data-target="#InvoiceModal" style="color:white">[Add New]</a></strong></td>
                        <td width="100">Action</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.FarmList != null)
                    {
                        foreach (var item in ViewBag.FarmList)
                        {
                            <tr>
                                <td>@item.FarmCode</td>
                                <td>@item.FarmName</td>
                                <td style="text-align:center"><a class="selectItem"><i class="fa fa-edit" style="color:blue"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="deleteTerm" style="color:blue"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>
<!-- /.row -->
<!--Invoice Record-->
<div class="modal fade" tabindex="-1" id="InvoiceModal" role="dialog" aria-labelledby="modal123Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:50px;width:800px">
            <form action="/ProdTransaction/Farm" method="post">
                <div class="modal-header">
                    <b>Add New Farm</b>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Farm Code</label>
                        <div class="col-md-10 input-group">
                            <input class="form-control" type="text" placeholder="Farm Code . . . " id="FarmCode" name="FarmCode" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Farm Name</label>
                        <div class="col-md-10 input-group">
                            <input class="form-control" type="text" placeholder="Farm Name . . . " id="FarmName" name="FarmName">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" id="btnSave" name="BtnSave" type="submit">Save</button>
                </div>
            </form>
        </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    document.getElementById("PageHeader").innerHTML = "Farm Detail";


    document.getElementById("PageLink").style.visibility = "hidden";
    //var str = "Add New Unit";
    //var result = str.link("/CompanySetup/UnitSetup");
    //document.getElementById("PageLink").innerHTML = result;

    document.getElementById("PageTitle").innerHTML = "Farm Detail"
</script>

<script>
    // For Selection
    $("table#farm").on('click', '.selectItem', function () {
        rIndex = $(this).closest('tr');
        index = $(this).closest('tr').rowIndex;
        //rIndex = this.rowIndex;
        console.log(index);
        var FarmCode = rIndex.find('td:eq(0)').text();
        var FarmName = rIndex.find('td:eq(1)').text();

        document.getElementById("FarmCode").value = FarmCode;
        document.getElementById("FarmName").value = FarmName;

        $(this).closest('tr').remove();
        $("#InvoiceModal").modal("show");
    });
</script>

<script>
    // For Selection
    $("table#farm").on('click', '.deleteTerm', function () {
        rIndex = $(this).closest('tr');
        index = $(this).closest('tr').rowIndex;
        //rIndex = this.rowIndex;
        console.log(index);
        var FarmCode = rIndex.find('td:eq(0)').text();

        if (confirm("Are you sure to want delete . . . !")) {
             window.location.href = "@Url.Action("DeleteFarm", "ProdTransaction")?FarmCode=" + FarmCode;
        } else {

        }

    });
</script>
